.publish_count {
    position: absolute;
    width: 134px;
    height: 87px;
    left: 440px;
    top: 2.125rem;
}

.story_count {
    position: absolute;
    width: 102px;
    height: 87px;
    left: 760px;
    top: 2.125rem;
}

.reporter_count {
    position: absolute;
    width: 125px;
    height: 87px;
    left: 1050px;
    top: 2.125rem;
}

.count {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}